.boton-texto{
    width: 180px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px var(--colorBorde);
    font-size: var(--fontSizeButton);
    border-radius: var(--borderRadius);
    font-family: var(--formal);
    font-weight: 500;
    transition: color .5s, background-color .5s, border .5s;
    display: flex;
    justify-content: center;
    gap: 10px;
}

svg.en-texto{
    /* vertical-align: text-top; */
    align-self: center;
    color: var(--colorTexto);
    transition: color .5s;
}

.boton-texto:hover .en-texto{
    color: white;
}

.boton-texto:hover{
    background-color: var(--colorTexto);
    border: solid 2px var(--colorTexto);
    color: white;
}
@media (max-width: 500px){
    .boton-texto{
        width: 160px;
    }
}